<div class="flex">
  <div class="item-flex">
    <div class="jumbotron">
      
      <p class="fonte-titulo">L O G I N</p>
      <input type="text" placeholder="Login"[(ngModel)]="newUser.email">
      <input type="password" placeholder="Senha"[(ngModel)]="newUser.password">
      <button class="btn btn-primary btn-block"(click)="loginUser()">Entrar</button>
      <button class="btn btn-primary btn-block">=Cadastrar-se</button>
    </div>
    <p>{{newUser.email}}</p>
    <p>{{newUser.password}}</p>
    
    
  </div>
</div>