<div class="flex">
  <div class="item-flex">
    <div class="jumbotron">
      
      <p class="fonte-titulo">L O G I N</p>
      <input type="text" placeholder="Login"[(ngModel)]="newUser.email">
      <input type="password" placeholder="Senha"[(ngModel)]="newUser.password">
      <button class="btn btn-primary btn-block"(click)="loginUser()">Entrar</button>
      <a href="src/app/cadastro/cadastro.component.html" target="_blank" class="link">Cadastre-se</a>
    </div>

    
    
  </div>
</div>